@* @model IErrandRepository *@
@model Miljoboven.Models.ViewModels.ManagerViewModel

@{
	Layout = "_ManagerLayout";
}


<h2>Ärenden</h2>
<p class="info">Du är inloggad som avdelningschef</p>

<form method="get" asp-controller="Manager" asp-action="StartManager">
	<table id="managerForm">
		<tr>
			<td class="label">Välj status:</td>
			<td class="label">Välj handläggare:</td>
			<td>&nbsp;</td>
			<td class="label">Ärendenummer:</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>
				<select name="statusId">
					<option selected="selected">Välj alla</option>
					@foreach (var status in Model.Statuses)
					{
						<option value="@status.StatusName">@status.StatusName</option>
					}
				</select>
			</td>
			<td>
				<select name="employeeName">
					<option value="Välj alla" selected="selected">Välj alla</option>
					@foreach (var investigator in Model.Investigators)
					{

						<option value="@investigator.EmployeeName">@investigator.EmployeeName</option>

					}
				</select>
			</td>
			<td><input class="button" type="submit" value="Hämta lista" /></td>
			<td><input name="refnumber" /></td>
			<td><input class="button" type="submit" value="Sök" /></td>
		</tr>
	</table>
</form>


<!--Nedan ser man en lista på ärenden-->
<table>
	<tr>
		<th>Ärende anmält</th>
		<th>Ärendenummer</th>
		<th>Miljöbrott</th>
		<th>Status</th>
		<th>Avdelning</th>
		<th>Handläggare</th>
	</tr>
	@if (Model.Errands.Any())
	{
		@foreach (var errand in Model.Errands)
		{
			<tr>
				<td>@errand.DateOfObservation.ToString("yyyy-MM-dd")</td>
				<td><a asp-controller="Manager" asp-action="CrimeManager" asp-route-id="@errand.ErrandId">@errand.RefNumber</a></td>
				<td>@errand.TypeOfCrime</td>
				<td>@errand.StatusName</td>
				<td>@errand.DepartmentName</td>
				<td>@errand.EmployeeName</td>
			</tr>
		}
	}
	else
	{
		<tr>
			<td colspan="6">Inga ärenden funna</td>
		</tr>
	}

</table>